<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lzzzs.mapper.CourseSubscribeMapper">
    <resultMap id="CourseSubscribeMap" type="top.lzzzs.entity.CourseSubscribe">
        <id property="id" column="id"/>
        <result property="subscribeTime" column="subscribe_time"/>
        <association javaType="top.lzzzs.entity.Users" property="user">
            <result property="username" column="username"/>
        </association>
        <association javaType="top.lzzzs.entity.Course" property="course">
            <result property="img" column="img"/>
            <result property="detailText" column="detail_text"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <select id="getAllCourseSubscribe" resultMap="CourseSubscribeMap">
        select u.username, cb.id, cb.subscribe_time, cb.img, cb.detail_text, cb.name
        from users u
                 right join (select cs.id, cs.subscribe_time, c.img, c.detail_text, c.name, cs.user_id
                             from course_subscribe cs
                                      left join course c on cs.course_id = c.id) cb on cb.user_id = u.id
    </select>
</mapper>
